header{
    background: #000;
    color: #FFF;
    height: 100px;
}

footer{
    background: #000;
    color: #FFF;
}
table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
}
td,th {
    border: 1px solid #ddd;
    padding: 3px 10px;
}
th {
    padding: 5px 10px;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}


/*覆盖bootstarp的样式*/
.comment-container *,
.share-container *{
    box-sizing: content-box;
}

.content-iframe,
.panel-iframe{
    width: 100%;
}
.panel-iframe{
    overflow: hidden;
}

.content-page{
    width: 100%;
    overflow: hidden;

}