<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/assets/css/base.css"/>
    <script type="text/javascript" src="/assets/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/default.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h3>最近文章列表</h3>
            {% assign posts = site.posts %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <iframe class="panel-iframe" src="{{ posts[0].url }}" frameborder="0"></iframe>
                </div>
                <div class="panel-footer">
                    <span class="label label-info">{{ posts[0].category }}</span>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <iframe class="panel-iframe" src="{{ posts[1].url }}" frameborder="0"></iframe>
                </div>
                <div class="panel-footer">
                    <span class="label label-info">{{ posts[1].category }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <h3>About me</h3>
            <img alt="" class="avatar" data-user="1059877" height="230" src="https://avatars0.githubusercontent.com/u/1059877?v=2&amp;s=460" width="230">
            <p>
                喜欢编码，喜欢台球，喜欢游泳...
            </p>
        </div>

    </div>
</div>
{% include footer.html %}
</body>
</html>
